<h1>Welcome to Bananas!</h1>
<p>
	This is the homepage or the root page!
	Although a href can be used to make links to pages,
	I am not going to blindly advertise.
	<%= link_to "practice link","http://www.asofterworld.com"%>
</p>
<p>
	<%= link_to "I haven't finished the course 
		and can't reccommend it yet.","#" %>
</p>